name: Integration Tests

on:
  push:
    branches: ["main", "feat/*"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  integration-test:
    name: Run Integration Tests
    runs-on: ubuntu-latest

    services:
      mail:
        image: greenmail/standalone:2.1.0-alpha-4
        ports:
          - 3025:3025
          - 3143:3143
        # No auth disabled needed? Let's keep it to duplicate docker-compose env
        env:
          GREENMAIL_OPTS: -Dgreenmail.setup.test.all -Dgreenmail.hostname=0.0.0.0 -Dgreenmail.auth.disabled -Dgreenmail.verbose

    steps:
      - uses: actions/checkout@v4
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.15.2"
          otp-version: "26.0"
      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Run integration tests
        run: mix test --only integration
